<div (click)="close()" class="modal-overlay"></div>
<div class="modal">
    <div (click)="close()">X</div>
    <div class="authorization-container__form">
        <h1>ავტორიზაცია</h1>
        <input type="text" placeholder="ელ.ფოსტა/ტელეფონის ნომერი" [(ngModel)]="loginData.email">
        <input type="password" placeholder="პაროლი" [(ngModel)]="loginData.password">
        <span class="recovery-password">პაროლის აღდგენა</span>
        <button (click)="login()">შესვლა</button>
        <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
    </div>

    <div class="recovery-password__container">
        <h1>პაროლის აღდგენა</h1>
        <input type="text" placeholder="ელ.ფოსტა/ტელეფონის ნომერი" [(ngModel)]="loginData.email">
        <p>უკან დაბრუნება</p>
    </div>
</div>
