<p>booking works!</p>
<div class="booking-container">
   
    <div class="booking-container__inner">

        <div class="category-container">
            <app-category></app-category>
        </div>

        
        <div class="booking-profile__container">
            <div class="profile-container">
                <app-profile [doctor]="doctor"></app-profile>

            </div>

            <div class="booking-calendar__container">
                <app-booking-calendar></app-booking-calendar>
            </div>
        </div>


    </div>
</div>