<div class="category-container">

  <div>
    <h1 class="category-side-bar-list-header">კატეგორიები</h1>
  </div>


  <div class="category-side-bar">



    <div class="category-stack">


      <div class="category-lists">
        <a *ngFor="let category of visibleCategories" (click)="selectCategory(category.name)"
          [ngClass]="{'selected': selectedCategory === category.name}" class="category-list-item">


          <p><span>({{ category.count }})</span> <span> {{ category.name }} </span></p>
          <img *ngIf="selectedCategory === category.name" src="assets/greaterSymbol.svg" alt="">
        </a>
      </div>



    </div>



  </div>

  <div>
    <a (click)="toggleShowAll()" class="scroll-items">
      {{ showAll ? 'დაბრუნება' : 'სრულიად ნახვა'}}
      <img src="assets/scroll-vector.svg" [ngClass]="{'rotated': showAll}" style="margin-left: 10px;"
        alt="scroll-vector">
    </a>
  </div>

</div>