<div class="administrator-container" style="height: 850px">
    <div class="administration-container__inner">
        
        <div class="administrator-container__header">
            <app-menu></app-menu>
            <app-tabs></app-tabs> 
        </div>

        <div class="administrator-container__body" *ngIf="doctorId;">
            <div class="card-edit__container">
                 <!-- <app-card-edit [doctor]="doctor"></app-card-edit>  -->
                 <app-card-edit [doctor]="doctor" (saveDoctor)="saveDoctor($event)"></app-card-edit>

            </div>

            <div class="calendar__container">
              <span>from administrator component</span>
              <div class="doctor-calendar__container">
                
              </div>
            </div>

        </div>

    </div>
</div>



 <!-- <p>administrator works!</p>
<div class="administrator-container">
  <div class="administrator-container__inner">


    <div class="administrator-container__header" >
      <app-menu></app-menu>
      <app-tabs></app-tabs>
    </div>

    <div class="administrator-container__body">
      <ng-container *ngIf="doctorId;">

        <div class="card-edit__container">
          <app-card-edit [doctor]="doctor"></app-card-edit>               
        </div>
        <div class="calendar__container">
          <app-calendar></app-calendar>
        </div>
      </ng-container>
      

    </div>

  </div>
</div> -->
