.registration-container{
    width: 100%;
    height: 345px;
    top: 290px;
    left: 150px;
    gap: 0px;
    opacity: 0px;

    margin-top: 60px;
    margin-bottom: 208px;
    
    display: flex;
    flex-direction: column;
}
h1{
    color: #18A4E1;
    padding-left: 150px;
    margin-bottom: 31px;
}
.registration-container__input{
    display: flex;
    flex-direction: column; 
    margin-right: 40px;
}
.registration-container__input label {
    margin-bottom: 5px; 
    margin-left: 20px;
}

.registration-container__input input{
    width: 480px;
    height: 50px;
    top: 480px;
    left: 150px;
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
    border: 1px solid #18A4E14D;
    padding: 0 19px;
}

.registration-container button{
    width: 180px;
    height: 50px;
    top: 585px;
    left: 1500px;
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
    background-color:#053354;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 340px;
    border: none;
}
.registration-container button:hover{
    background-color: #2677b1;
}

.first, .second, .third {
    display: flex; 

    margin-bottom: 15px;
    padding-left: 150px;
}
.registration-container__input label{
    font-family: FiraGO;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

    color: #053354;

}

.input-with-image{
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-image input{
    box-sizing: border-box;
}

.input-with-image img {
    position: absolute;
     right: 23px;
    cursor: pointer; 
}


.input-with-cv{
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-cv input{
    box-sizing: border-box;
}

.input-with-cv img {
    position: absolute;
     right: 23px;
    cursor: pointer; 
}


/* .input-with-img{
    display: flex;
    position: relative;
    align-items: center;
}

.input-with-img img{ 
    position: absolute;
    right: 23px;
    cursor: pointer;
} */



.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  

.error-field{
    color: red;
}

.choice-category select{
    width: 480px;
    height: 50px;
    border: 1px solid #18A4E14D;
    border-radius: 50px;
    padding: 0 19px;
    cursor: pointer;
}