
<div class="doctor-edit-container">
    <div class="doctor-edit-container__inner">
       
    <div class="card">
        <div class="doctor-profile">
            <img src="assets/giorgikhorava.jpg" alt="giorgikhorava">
            <h1>გიორგი ხორავა</h1>
            <p>ექიმი</p>
            <span>კარდიოლოგი / არითმოლოგი</span>
            

            <div class="star">
                <img src="assets/star.svg" alt="star">
                <img src="assets/star.svg" alt="star">
                <img src="assets/star.svg" alt="star">
                <img src="assets/star.svg" alt="star">
                <img src="assets/star.svg" alt="star">
            </div>   
        </div>

        
        <div class="person-info">
            <div class="info-row">
                <div class="id-num">
               
                    <h1> <img src="assets/edit1.svg" alt=""> პირადი ნომერი: </h1>
                    <span>0000000000</span>
                </div>


                <div class="booking-nums">
            
                    <h1>  <img src="assets/edit1.svg" alt="">დაჯავშნილია: </h1>
                    <span>(20)</span>
                </div>
            </div>


            <div class="email">
                
                <h1><img src="assets/edit1.svg" alt="">Email</h1>
                <span>asdasdasd</span>
            </div>

            <div class="change-password">
               
                <a href=""><h1> <img src="assets/edit1.svg" alt="">პაროლის შეცვლა</h1></a>
            </div>
        </div>
    </div>

    
    <div class="buttons">
        <button class="addButton">+ დამატება</button>
        <button class="editButton"><img src="assets/editblue.svg" alt="">რედაქტირება</button>
        <button class="deleteButton"><img src="assets/deleteV.svg" alt="">წაშლა</button>
    </div>


</div>